html {
    font-family: 'Roboto', sans-serif;
}
#navbar {
    margin: 0 1em;
    height: min-content;
    width: 95vw;
}
header {
    width: 15%;
    float: left;
    vertical-align: middle;
}
header img {
    max-width: 100%;
    max-height: 40px;
    margin: auto;
}
nav {
    width: max-content;
    margin: 0.75em auto;
    float: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
nav li {
    display: inline-block;
    font-size: 1.2em;
}
nav li a {
    text-decoration: none;
    color: rgb(31, 35, 34);
    display: block;
    text-align: center;
    padding: 0.5em 1.25em;
}
nav li a:hover {
    transition: all 0.4s ease-in-out;
    color: lightgray;
}

nav li button {
    padding: 1em;
    background-color: mediumslateblue;
    color: white;
    border-radius: 5%;
}

main {
    clear: both;
}